.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.adoption-layout {
  box-sizing: border-box;
  border: 4px solid #155d27;
  border-radius: 6px;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
  text-align: center;
}
.adoption-layout img {
  width: 100%;
}
li {
  list-style-type: none;
}
