body {
  font-family: Impact, sans-serif;
  background-color: #fdf0d5;
  color: #221510;
}
main {
  padding: 0;
  margin: 0;
}
header {
  font-family: Palatino, serif;
  color: #221510;
  background-color: #f4d79c;
  display: flex;
}

.Primary-Menu {
  display: flex;
  justify-content: flex-start;
  height: 80vh;
}

.Primary-Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #221510;
  font-size: 1.2rem;
}
.Primary-Menu li {
  display: block;
  flex: 1;
}
.Primary-Menu li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1rem 0;
}
.page-layout {
  display: flex;
  align-items: stretch;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
.contact-form {
  font-size: 1.2em;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #170000;
  border-radius: 4px;
}
.contact-form input:hover {
  background-color: rgb(218, 216, 216);
}

.contact-form input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #170000;
  border-radius: 4px;
}
