.donate-form {
  font-size: 1.2em;
}

.donate-form input {
  width: 100%;
  padding: 10px;
  border: 2px solid #170000;
  border-radius: 4px;
}
.donate-form input:hover {
  background-color: rgb(218, 216, 216);
}

.donate-form input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.donate-form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #170000;
  border-radius: 4px;
}
.donate-form button[type="submit"] {
  border: 2px solid #170000;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 0.8em;
  cursor: pointer;
}
