body {
    background-color: #F2DFD7;
    /*https: //coolors.co/f2dfd7*/
    color: #5c407d;
    /*https: //coolors.co/d4c1ec*/
    font-family: "sans-serif";
    max-width: 900px;
    margin: 0 auto;
}

header {
    background-color: #ecd8cd;
    /*https: //coolors.co/fef9ff*/
    color: #7b7bea;
    /*https: //coolors.co/9f9fed*/
}

h1 {
    font-family: "SN Pro", "Google Sans";

}

nav .Primary-Menu {
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;

}

li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 25px;


}