body {
  background-color: #f2dfd7;
  /*https: //coolors.co/f2dfd7*/
  color: #5c407d;
  /*https: //coolors.co/d4c1ec*/
  font-family: "sans-serif";
  max-width: 900px;
  margin: 0 auto;
}

header {
  background-color: #e7d9eb;
  /*https: //coolors.co/fef9ff*/
  color: #330522;
  /*https: //coolors.co/9f9fed*/
}

h1 {
  font-family: "SN Pro", "Google Sans";
}
/* Scope everything to header */
header .Primary-Menu {
  overflow: hidden;
}

/* Target the UL itself */
header .Primary-Menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Target list items */
header .Primary-Menu li {
  float: left;
  text-decoration: none;
}

/* Target links */
header .Primary-Menu a {
  text-align: center;
  display: block;
  padding: 25px;
}
