header {
  background-color: #f08080;
  font-family: Lato, sans-serif;
}

main {
  background-color: #f4978e;
}

body {
  background-color: #fbc4ab;
  color: #10100d;
  font-family: arial;
}

footer {
  background-color: #f8ad9d;
}

h1 {
  background-color: #ffdab9;
}

img {
  width: 20%;
}
