#playing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 200px;
  height: 200px;
  background-color: #2a6f97;
}
.left {
  align-self: flex-start;
  width: 1.5em;
  height: 1.5em;
}
.middle {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 2em;
  color: #fdfcdc;
}
.right {
  align-self: flex-end;
  width: 1.5em;
  height: 1.5em;
}
