img {
  width: 70px;
  height: 70px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family:
    Instrument Serif,
    Georgia;
}

#nav-bar {
  right: 0;
  top: 0;
  position: fixed;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 5vw;
}
.nav-link:hover {
  color: purple;
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: darkblue;
    color: whitesmoke;
  }
}
