<header>
    <h1> Alex Wyatt's Amazing Walrus ~ ITIS 3135 ~ Home</h1>
    <nav>
        <ul>
            <li> <a href="index.html"> Home</a></li>
            <li> <a href="contract.html">Contract</a></li>
            <li><a href="Menu/survey.html">Survey</a></li>
            <li><a href="Menu/inventory.html">Inventory</a></li>
            <li><a href="Menu/instructions.html">Instructions</a></li>
            <li><a href="Menu/highlight.html">Highlight</a></li>
            <li><a href="Menu/gallery.html">Gallery</a></li>
            <li><a href="website_evaluations.html"> Website Evaluations</a></li>

        </ul>
    </nav>
    <ul>

        <li><a href="stuff/where%40%20IsMy%20File.htm">Crappy Website</a></li>
    </ul>
</header>