<header>
  <h1>Alex Wyatt's Amazing Walrus ~ ITIS 3135</h1>
  <nav class="Primary-Menu">
    <ul class="Primary-Menu">
      <li><a href="index.html">Home</a></li>
      <li><a href="contract.html">Contract</a></li>
      <li>
        <a href="website_evaluations.html">Website Evaluations</a>
      </li>
      <li><a href="survey.html">Survey</a></li>
      <li><a href="inventory.html">Inventory</a></li>
      <li><a href="cards.html">Cards</a></li>
      <li><a href="documentation.html">Documentation</a></li>
      <li><a href="product.html">Product</a></li>
      <li><a href="project_overview.html">Project Overview</a></li>
      <li><a href="review1.html">Peer Review 1</a></li>
      <li><a href="review2.html">Peer Review 2</a></li>
    </ul>
  </nav>
  <nav class="Primary-Menu">
    <ul class="Primary-Menu">
      <li>
        <a href="stuff/where%40%20IsMy%20File.htm">Crappy Website</a>
      </li>
      <li><a href="../clientproject/pages/index.html">ClientProject</a></li>
      <li><a href="hobby/index.html">Hobby</a></li>
      <li><a href="intro_form.html">Intro Form</a></li>
    </ul>
  </nav>
</header>